@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

.body {
  background-color: #ffffff;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Antic Slab", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  color: #2a2b2a;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 22px;
  height: 32px;
  width: 300px;
  background-color: #ffffff;
  color: #2a2b2a;
  font-family: "Antic Slab", Arial, Helvetica, sans-serif;
  box-shadow: #f8b692 0px 2px 3px;
  border-style: none;
  border-radius: 10px;
  padding: 1px 5px 5px 5px;
}

button:hover {
  background-color: #a38d81;
  color: #ffffff;
  font-size: 23px;
  height: 35px;
  width: 307px;
  box-shadow: #f8b692 2px 4px 5px;
  padding: 1px 5px 6px 5px;
  border-style: outset;
}
